/* =============================================================
/* =============================================================
	General Classes
================================================================
============================================================  */


/* ============================================================
	Micro Clearfix
============================================================ */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ============================================================
	Wordpress Classes
============================================================ */
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left; margin: 0 $margin-standard $margin-standard 0;}
.alignright { float:right; margin:0 0 $margin-standard $margin-standard;}
.wp-caption { padding:$margin-standard; margin:$margin-standard }


/* =============================================================
	Hide only visually, but have it available for screenreaders: h5bp.com/v
============================================================  */

.visuallyhidden, .screen-reader-text{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus,
.screen-reader-text:active,
.screen-reader-text:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}